body{margin:0;padding:0;}
#wrapper{width:1024px;margin:0 auto;}
#backgroundContainer{position:absolute;width:100%;background:url(../img/banner_bg.jpg) 50% 0 no-repeat;height:450px;z-index:1;}
#bannerContainer{position:absolute;width:940px;height:450px;position:relative;margin-left:42px;z-index:2;}
.menuItem{width:270px;height:270px;position:absolute;cursor:pointer;opacity:0.3;background:url(../img/white_round_bg.png) 0 0 no-repeat;}
.menuItem-over{}
.play-txt{width:150px;}
.play-btn{background:url(../img/play_btn.png) 0 0 no-repeat;width:100px;height:100px;opacity:0;}
.bannner-top-left{left:10px;top:10px;}
.banner-top-right{top:10px;right:10px;}
.banner-bottom-left{bottom:10px;left:20px;}
.banner-bottom-right{bottom:-30px;right:-40px;}
